@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap');

.footer{
	line-height: 1.5;
	font-family: 'Poppins', sans-serif;

    box-sizing: border-box;

    background-color: #24262b;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer-container{
	max-width: 100%;
	margin:auto;
}

.footer-row{
	display: flex;
	flex-wrap: wrap;
}

.footer-ul{
	list-style: none;
}

.footer-col{
   margin-left: 16%;
   text-align: left;
   width: 10%;
}

.footer-col h4{
    padding-left: 40px;
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 500;
	position: relative;
}

.footer-col h4::before{
	content: '';
	position: absolute;
	left:44;
	bottom: -10px;
	background-color:rgb(68,165,224);
	height: 2px;
	box-sizing: border-box;
	width: 115px;
}

.footer-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.footer-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}

.footer-col ul li a:hover{
	color: #ffffff;
	padding-left: 3px;
}
